<header class="bg-purple text-white border-b-4 border-yellow sticky top-0 z-50">
    <div class="py-3 px-3 flex items-center justify-between max-w-5xl mx-auto font-pixel">
        <a routerLink="/" class="hover:text-yellow transition-colors" >NA</a>
        <nav class="flex gap-4">
            <a routerLink="/" routerLinkActive="text-yellow" class="hover:text-yellow transition-colors">Home</a>
            <a routerLink="/experience" routerLinkActive="text-yellow" class="hover:text-yellow transition-colors">Experience</a>
            <a routerLink="/about" routerLinkActive="text-yellow" class="hover:text-yellow transition-colors">About</a>
            <a routerLink="/projects" routerLinkActive="text-yellow" class="hover:text-yellow transition-colors">Projects</a>
        </nav>
    </div>

</header>
